<div class="flex flex-col">
  <a class="py-2 px-10 hover:bg-red-200" routerLink="">Home</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/route-one">&nbsp;&nbsp;-
    Route One</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/route-two">&nbsp;&nbsp;-
    Route Two</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/route-three">&nbsp;&nbsp;-
    Route
    Three</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/feature-one">&nbsp;&nbsp;-
    Feature
    One</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/feature-one/one">
    &nbsp;&nbsp;&nbsp;&nbsp;-
    Feature
    One One</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/feature-one/two">
    &nbsp;&nbsp;&nbsp;&nbsp;-
    Feature
    One Two</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/feature-one/three">
    &nbsp;&nbsp;&nbsp;&nbsp;-
    Feature
    One Three</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/feature-two">&nbsp;&nbsp;-
    Feature
    Two</a>
  <a class="py-2 px-10 hover:bg-red-200" routerLink="/feature-three">&nbsp;&nbsp;-
    Feature
    Three</a>
</div>